/*reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label,legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
a,img{display: block;}
img{margin: 20px auto;}
a {cursor: pointer;text-decoration: none;color: inherit;}
input, textarea, button, select{border: 0 none;padding: 0;background:transparent;}
button, select {cursor: pointer;}
/*common*/
.ir{display: block;text-indent: -9999px;}
.clearfix:after{display: block;content: "";clear: both}
.inner:after{content: ""; display: block; clear: both;}
body{height: 100%;font-family: 'Roboto', sans-serif;color: #353535;}
header .inner{margin-left: 35px;}
.container .inner{margin: 0 auto;}
/*style*/
html,#wrap{height: 100%;}
header,.container {float: left;height: 100%;}
header{position: fixed;top: 0;bottom: 0;width: 20%;box-sizing: border-box;border-right: 1px solid #c6c6c6;}
.me-info{margin-top: 64px;}
.me-info li{}
.me-info li h1{padding: 0 2px;font-size: 36px;font-family: 'Roboto', sans-serif; color: #fff;}
.me-info li.name {display: inline-block;background-color: #353535;}
.me-info li p{font-family: 'Roboto', sans-serif;}
.me-info li.phone p{font-size: 30px;}
.me-info li.mail p{font-size: 23px;}
.nav {margin-top: 164px;}
.nav dl {margin-top: 110px;}
.nav dl dt {margin-bottom: 26px;font-family: 'Noto Sans KR', sans-serif;font-size: 20px;color: #353535;}
.nav dl dd {float: left;margin-right: 15px;width: 26px;height: 26px;text-align:center;line-height: 26px;font-family: 'Roboto', sans-serif;font-size: 20px;color: #353535;border-width: 2px;border-style: solid; border-color: transparent; border-radius: 50% 50%;}
.nav dl dd.select {border-color: #353535;}
.container{margin-left: 20%;width: 80%;}
.bx{display: none;}
.bx.select{display: block;}
